
# Stripe keys
# https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
# https://stripe.com/docs/webhooks/signatures
STRIPE_WEBHOOK_SECRET=whsec_1234



#Auth0

AUTH0_DOMAIN=vinowe.auth0.com
AUTH0_CLIENT_ID=Y8LIAIGv9f8iYBE2y1ByZhl92g0ODBro
AUTH0_CLIENT_SECRET=6cIMKvR8U-0HJgEOByMYf4qARYNHEbcbrxxRK8WSFJhVkSkh3fcfdHtvgdYSaX2V
#REDIRECT_URI=
#POST_LOGOUT_REDIRECT_URI=
SESSION_COOKIE_SECRET=65465465465465465465464654646546546546546465465464654646546546
